@page
@{
    ViewData["Title"] = "REPORT CRITERIA ";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 " >
            <h4 class="header-title" >
                @ViewData["Title"]
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-5 ">
        <div class="card pt-1 pb-4">
            <div class="card-body">
                <main class="content">
                    <div class="container-fluid">
                        <Center><h2 style="justify-content: center;"> REPORT </h2></Center>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4 col-md-5 col-lg-4 col-xl-3">

                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">Report Criteria</h5>
                                    </div>

                                    <div class="list-group list-group-flush" role="tablist">
                                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#ledger" role="tab">
                                          1. Daily Ledger Report
                                        </a>
                                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#monthlyledger" role="tab">
                                          2. Monthly Ledger Report
                                        </a>
                                        @* <a class="list-group-item list-group-item-action" data-toggle="list" href="#password" role="tab">
                                          4. Expenditure Report
                                        </a>
                                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab">
                                          5. Student Payment
                                        </a> *@
                                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#studentrecipt" role="tab">
                                          3. Student Receipt
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9" >
                                <div class="tab-content">

                                    @* 1 *@
                                    <div class="tab-pane fade show active" id="ledger" role="tabpanel">
                                        <div class="card">
                                            <div class="card-body">
                                                <form>
                                                    <label for="inputUsername">Select Date Range </label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="date" class="form-control" id="led_datefrom">
                                                            </div>
                                                        </div>
                                                          <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="date" class="form-control" id="led_dateto" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row" style="justify-content: end;">
                                                        <button type="button" class="btn btn-primary" id="btn_ledger_report" style="background-color: #3e4676;" >View Report</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    @* 2 *@
                                    <div class="tab-pane fade show " id="studentrecipt" role="tabpanel">
                                        <div class="card">
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-lg-12 did-floating-label-content">
                                                            <select class="did-floating-select" id="sel_student">
                                                                
                                                            </select>
                                                            <label class="did-floating-label">Student</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                         <div class="col-lg-12 did-floating-label-content table-responsive" >
                                                            <table id="voucher_data_table" class="table table-hover" style="width:100% ;" >
                                                                <thead>
                                                                    <tr>
                                                                        <th hidden>Id</th>
                                                                        <th>Receipt</th>
                                                                        <th>Voucher</th>
                                                                        <th>Courses</th>
                                                                        <th>Amount</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="voucher_data_table_tbody">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    @* 6 *@
                                    <div class="tab-pane fade show " id="monthlyledger" role="tabpanel">
                                        <div class="card">
                                            <div class="card-body">
                                                <form>
                                                    <label for="inputUsername">Select Month Range </label>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="month" class="form-control" id="led_monthfrom">
                                                            </div>
                                                        </div>
                                                          <div class="col-md-6">
                                                            <div class="form-group">
                                                                <input type="month" class="form-control" id="led_monthto" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row" style="justify-content: end;">
                                                        <button type="button" class="btn btn-primary" id="btn_month_ledger_report" style="background-color: #3e4676;" >View Report</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>

<!-- END  modal -->
@section Scripts
{
  <script src="@Url.Content("~/AppJS/Accounts/Report/Criteria.js")" type="module"></script>
}

