@page
@{
    ViewData["Title"] = "STUDENT VOUCHER APPROVAL";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 " >
            <h4 class="header-title" >
                @ViewData["Title"]
            </h4>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6 col-lg-3 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">TOTAL</h5>
                    </div>

                    <div class="col-auto">
                        <div class="avatar">
                            <div class="avatar-title rounded-circle" style="background-color: #005e89;color:white">
                                <i class="align-middle" data-feather="mail"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 mt-1 mb-3" id="txt_totalrecord">0</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">APPROVED</h5>
                    </div>

                    <div class="col-auto">
                        <div class="avatar">
                            <div class="avatar-title rounded-circle" style="background-color: #005e89;color:white">
                                <i class="align-middle" data-feather="mail"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 mt-1 mb-3" id="txt_approved">0</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">NOT APPROVED</h5>
                    </div>

                    <div class="col-auto">
                        <div class="avatar">
                            <div class="avatar-title rounded-circle" style="background-color: #005e89;color:white">
                                <i class="align-middle" data-feather="mail"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="display-5 mt-1 mb-3" id="txt_notapproved">0</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3 ">
        <div class="card pt-4 pb-4">
            <div class="card-body" id="export_div">
                <table id="data_table" class="table table-responsiv table-striped table-bordered" style="width:100% ;" >
                  <thead>
                        <tr>
                            <th></th>
                            <th>CODE</th>
                            <th>DATE</th>
                            <th>SSB</th>
                            <th>NAME</th>
                            <th>CNIC</th>
                            <th>COURSES</th>
                            <th>TOTAL AMT</th>
                            <th>DISCOUNT</th>
                            <th>USER</th>
                            <th>STATUS</th>
                            <th>DUE</th>
                            <th>COMPANY</th>
                            @* <th>Active</th> *@
                        </tr>
                    </thead>
                </table>
                <div class="text-center" id="table_loading_image" ><img src="~/img/brands/pro_gif.gif" alt=""></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="data_Model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-3" style="background-color: #3e4676;">
                <h4 class="modal-title text-white"> @ViewData["Title"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form id="create_form">
                    <fieldset id="SubmitForm">
                        <div class="row ">
                            <div class="col-lg-8 " >
                                @* <h4 class="pt-2 pl-2 " >BRANCH INFORMARION</h4> *@
                                <input class="did-floating-input" hidden id="txt_comp" type="text">
                            </div>
                            <div class="col-lg-4 did-floating-label-content" >
                                <input class="did-floating-input" readonly id="txt_code" type="text">
                                <label class="did-floating-label"  >Voucher</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-2">
                            <div class="col-lg-10">
                                    <label class="col-form-label col-lg-9" id="txt_id" ></label>
                                    <label class="col-form-label col-lg-2" id="txt_dis" ></label>
                                    @* <label class="col-form-label col-lg-9" id="txt_code" ></label> *@
                            </div>
                        </div>
                        <div class="row form-group m-2">
                            <div class="col-lg-10" style="text-align:right;">
                                <label class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" id="ck_appro" class="custom-control-input">
                                    <span class="custom-control-label">APPROVED</span>
                                </label>
                                
                            </div>
                            <div class="col-lg-2" style="text-align:left;">
                                <label class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" id="ck_dec" class="custom-control-input">
                                    <span class="custom-control-label">DECLINE</span>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="row form-group m-2">
                            <div class="col-lg-12 did-floating-label-content">
                                <select class="did-floating-select" disabled id="sel_student" >
                                    
                                </select>
                                @* <label class="did-floating-label">Student</label> *@
                            </div>
                            @* <div class="col-lg-6 did-floating-label-content">
                                <select class="did-floating-select" id="sel_account" >
                                    
                                </select>
                                <label class="did-floating-label">Account</label>
                            </div>
                            <div class="col-lg-6 did-floating-label-content">
                                <select class="did-floating-select" id="sel_paytype" >
                                    <option value="C">Cash</option>
                                    <option value="O">Online</option>
                                </select>
                                <label class="did-floating-label">Account</label>
                            </div> *@
                            <div class="col-lg-4 did-floating-label-content" >
                                <input class="did-floating-input" readonly id="txt_totalAmount" type="number">
                                <label class="did-floating-label">Total</label>
                            </div>
                            <div class="col-lg-4 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_discount" type="number">
                                <label class="did-floating-label">Discount Amount</label>
                            </div>
                             @* <div class="col-lg-2 did-floating-label-content" >
                                 <label class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" id="ck_dec" class="custom-control-input">
                                    <span class="custom-control-label">Complimantory</span>
                                </label>
                            </div> *@
                            <div class="col-lg-4 did-floating-label-content" >
                                <input class="did-floating-input" readonly id="txt_netamount" type="number">
                                <label class="did-floating-label" >Net Amount</label>
                            </div>
                             <div class="col-lg-12 did-floating-label-content" >
                                <input class="did-floating-input" readonly id="txt_inword" type="text">
                                <label class="did-floating-label">In Words</label>
                            </div>
                            <div class="col-lg-12 did-floating-label-content" >
                                <input class="did-floating-input" readonly id="txt_narr" type="text">
                                <label class="did-floating-label">Narration</label>
                            </div>
                        </div>
                        <div class="row p-4 ">
                            <h4 class="ml-4 mb-5" >CURRENTLY ADDED COURSE INFORMARION</h4>
                            @* <span><p>This information given in this section is consider as the information of the primary account owner information</p></span> *@
                            <hr>
                            <div class="col-lg-12 did-floating-label-content  table-responsive" >
                                <table id="course_data_table" class="table table-hover" style="width:100% ;" >
                                    <thead>
                                        <tr>
                                            <th>COURSE</th>
                                            <th>START</th>
                                            <th>END</th>
                                            <th>FEES</th>
                                            <th>DIS%</th>
                                            <th>AMOUNT</th>
                                            <th>STATUS</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="row form-group m-2">
                            <div class="col-lg-12" style="text-align:right;">
                                <button type="button" class="btn " data-dismiss="modal" style="background-color: #2c497d;color:white">Close</button>
                                <input id="btn_sav" type="button" value="Save"
                                class="btn " style="background-color: #7566cc;color:white" />
                                <input id="btn_upd" type="button" value="Update" 
                                class="btn btn-warning" style="background-color: #7566cc;color:white" />
                            </div>
                        </div>
                        
                    </fieldset>
                </form>
            </div>
            @* <div class="modal-footer">
                
            </div> *@
        </div>
    </div>
</div>
<!-- END  modal -->
@section Scripts
{
  <script src="@Url.Content("~/AppJS/Manager/Form/VoucherApproval.js")" type="module"></script>
}
