@page
@{
    ViewData["Title"] = "STUDENT COURSES";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 " >
            <h4 class="header-title" >
                @ViewData["Title"]
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 did-floating-label-content "  >
    </div> 
    <div class="col-sm-4 col-md-4 col-lg-4 did-floating-label-content"  >
        <select class="did-floating-select" id="sel_student">                                               
        </select>
    </div>
    @* <div class="col-sm-2 col-md-2 col-lg-2 text-right">
        <button type="button" id="openmodal" data-toggle="modal" data-target="#data_Model" class="btn btn-light font-weight-bolder"
             aria-haspopup="true" aria-expanded="false">
            <span class="svg-icon svg-icon-md">
                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path
                            d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                            fill="#000000" opacity="0.3" />
                        <path
                            d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                            fill="#000000" />
                    </g>
                </svg>
                <!--end::Svg Icon-->
            </span> NEW
        </button>
    </div> *@
    <div class="col-12 mt-3 ">
        <div class="card pt-4 pb-4">
            <div class="card-body">
                <table id="data_table" class="table table-responsiv table-striped table-bordered" style="width:100% ;" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>S#</th>
                            <th>COURSE NAME</th>
                            <th>START DATE</th>
                            <th>END DATE</th>
                            <th>STATUS</th>
                            <th>VOUCHER STATUS</th>
                            <th>CERTIFICATE STATUS</th>
                            <th>ACTIVE</th>
                        </tr>
                    </thead>
                </table>
                <div class="text-center" id="table_loading_image" ><img src="~/img/brands/pro_gif.gif" alt=""></div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="data_Model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-3" style="background-color: #3e4676;">
                <h4 class="modal-title text-white"> @ViewData["Title"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form id="create_form">
                    @* <div class="row m-2">
                    </div>
                    <br> *@
                    <fieldset id="SubmitForm">
                        <div class="row ">
                            <div class="col-lg-7 " >
                                @* <h4 class="pt-2 pl-2 " >BRANCH INFORMARION</h4> *@
                            </div>
                        </div>
                        
                        <div class="row m-2">
                            <div class="col-lg-10">
                                <label class="col-form-label col-lg-9" hidden id="txt_id" ></label>
                            </div>
                        </div>
                        <div class="row form-group m-2">
                            <div class="col-lg-12 did-floating-label-content" >
                                <label style="font-size: 30px;" id="txt_course_name"></label>
                            </div>
                            <hr>
                            <div class="col-lg-6 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_start_date" type="date">
                                <label class="did-floating-label">Start Date</label>
                            </div>
                             <div class="col-lg-6 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_end_date" type="date">
                                <label class="did-floating-label">End Date</label>
                            </div>
                            <div class="col-lg-12" style="text-align:right;">
                                <label class="custom-control custom-checkbox m-0">
                                    <input type="checkbox" id="ck_act" class="custom-control-input">
                                    <span class="custom-control-label">Active</span>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="row form-group m-2">
                            <div class="col-lg-12" style="text-align:right;">
                            <button type="button" class="btn " data-dismiss="modal" style="background-color: #2c497d;color:white">Close</button>
                            <input id="btn_upd" type="button" value="Update" 
                            class="btn btn-warning" style="background-color: #7566cc;color:white" />
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            @* <div class="modal-footer">
                
            </div> *@
        </div>
    </div>
</div>
<!-- END  modal -->
@section Scripts
{
  <script src="@Url.Content("~/AppJS/Payroll/Form/StudentCourse.js")" type="module"></script>
}

