@page
@{
    ViewData["Title"] = "COMPLAI";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="header">
        <h1 class="header-title" id="name">
            
        </h1>
        <p class="header-subtitle" id="detail">Requester Overview </p>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-3 col-xl">
            <div class="card">
                <div class="card-body" id="card_total" >
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Total</h5>
                        </div>

                        <div class="col-auto">
                            <div class="avatar">
                                <div class="avatar-title rounded-circle " style="background-color: #005e89;color:white">
                                    <i class="align-middle" data-feather="mail"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-5 mt-1 mb-3" id="txt_total">0</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl">
            <div class="card">
                <div class="card-body" id="card_pending">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Pending</h5>
                        </div>

                        <div class="col-auto">
                            <div class="avatar">
                                <div class="avatar-title rounded-circle " style="background-color: #005e89;color:white">
                                    <i class="align-middle" data-feather="mail"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-5 mt-1 mb-3" id="txt_pending">0</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl">
            <div class="card">
                <div class="card-body" id="card_Assigned">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Assigned</h5>
                        </div>

                        <div class="col-auto">
                            <div class="avatar">
                                <div class="avatar-title rounded-circle" style="background-color: #005e89;color:white">
                                    <i class="align-middle" data-feather="mail"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-5 mt-1 mb-3" id="txt_assign">0</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl">
            <div class="card">
                <div class="card-body" id="card_Completed">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Completed</h5>
                        </div>

                        <div class="col-auto">
                            <div class="avatar">
                                <div class="avatar-title rounded-circle " style="background-color: #005e89;color:white">
                                    <i class="align-middle" data-feather="mail"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-5 mt-1 mb-3" id="txt_completed">0</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    
    <div class="col-12 mt-3 ">
        <div class="card pt-4 pb-4">
            <div class="col-12 text-right">
                    <button type="button" class="btn align-middle"  style="background-color: #005e89;color:white" id="openmodal" data-toggle="modal" data-target="#data_Model"><i class="align-middle mr-2 " data-feather="mail"></i>New Complain</button>
                </div>
            <div class="card-body">
                <table id="data_table" class="table table-responsiv table-striped table-bordered" style="width:100% ;" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>SN#</th>
                            @* <th>Code</th> *@
                            <th>Asset</th>
                            <th>User</th>
                            <th>Date</th>
                            <th>Approved</th>
                            <th>Approved By</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

    @* <div class="row">
        <div class="col-12 col-lg-4 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <a href="#" class="mr-1">
                            <i class="align-middle" data-feather="refresh-cw"></i>
                        </a>
                        <div class="d-inline-block dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-vertical"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Requestes</h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                        <canvas id="chartjs-dashboard-bar-alt"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl-8 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <a href="#" class="mr-1">
                            <i class="align-middle" data-feather="refresh-cw"></i>
                        </a>
                        <div class="d-inline-block dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-vertical"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Requestes</h5>
                </div>
                <div class="card-body py-3">
                    <div class="chart chart-md">
                        <canvas id="chartjs-dashboard-line"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

    
</div>
<div class="modal fade" id="data_Model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Requester</h5>
                <label id="txt_code" hidden></label>
                <label id="txt_date" hidden></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form id="create_form">
                    <br>
                    <fieldset id="SubmitForm">
                         <div class="col-lg-10">
                                    <label class="col-form-label col-lg-9" hidden id="txt_id" ></label>
                                    <label class="col-form-label col-lg-9" hidden id="txt_code" ></label>
                            </div>
                        <div class="row form-group m-2">
                             @* <div class="col-lg-6 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_code" type="number">
                                <label class="did-floating-label">Code</label>
                            </div> *@
                            <div class="col-lg-6 did-floating-label-content">
                                <select class="did-floating-select" id="txt_asset" >

                                </select>
                                <label class="did-floating-label">Asset</label>
                            </div>
                            <div class="col-lg-6 did-floating-label-content">
                                <select class="did-floating-select" id="txt_comtype" >

                                </select>
                                <label class="did-floating-label">Complain Type</label>
                            </div>
                            <div class="col-lg-6 did-floating-label-content">
                                <select class="did-floating-select" id="txt_department" >

                                </select>
                                <label class="did-floating-label">Department</label>
                            </div>
                            <div class="col-lg-6 did-floating-label-content">
                                <select class="did-floating-select" id="txt_user" >

                                </select>
                                <label class="did-floating-label">Admin Supervisors</label>
                            </div>
                            <div class="col-lg-12 did-floating-label-content">
                                <input class="did-floating-input" id="txt_remark" type="text">
                                <label class="did-floating-label">Remarks</label>
                            </div>
                            <div class="col-lg-12" style="text-align:right;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input id="btn_sav" type="button" value="Submit Request"
                                class="btn btn-warning" />
                                <input id="btn_upd" type="button" value="Request Update"
                                class="btn btn-warning" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="asset_grid" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ASSETS </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form id="create_form">
                    <fieldset id="SubmitForm">
                        <div class="row form-group m-2">
                           <table id="datatables-dashboard-products" class="table table-striped my-0">
                    <thead>
                        <tr>
                            <td>Barcode</td>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HCAM128134223</td>
                            <td>Laptop</td>
                        </tr>
                        <tr>
                            <td>HCAM128102372</td>
                            <td>Mouce</td>
                        </tr>
                        <tr>
                            <td>HCAM213322221</td>
                            <td>Keyboard</td>
                        </tr>
                        <tr>
                            <td>HCAM213322221</td>
                            <td>LCD</td>
                        </tr>
                        <tr>
                            <td>ADSM213322221</td>
                            <td>Headphones</td>
                        </tr>
                    </tbody>
                </table>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

@section Scripts
{
  <script src="@Url.Content("/AppJS/Requester/Requester.js")" type="module"></script>
}
