@page
@{
    ViewData["Title"] = "Manager";
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="header">
        <h1 class="header-title">
            Manager Overview
        </h1>
        <p class="header-subtitle">Your Task Details </p>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-3 col-xl">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Assigned</h5>
                        </div>

                        <div class="col-auto">
                            <div class="avatar">
                                <div class="avatar-title rounded-circle bg-primary-dark">
                                    <i class="align-middle" data-feather="dollar-sign"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-5 mt-1 mb-3">200</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">UnAssigned</h5>
                        </div>

                        <div class="col-auto">
                            <div class="avatar">
                                <div class="avatar-title rounded-circle bg-primary-dark">
                                    <i class="align-middle" data-feather="shopping-cart"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-5 mt-1 mb-3">12</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">Total Request</h5>
                        </div>

                        <div class="col-auto">
                            <div class="avatar">
                                <div class="avatar-title rounded-circle bg-primary-dark">
                                    <i class="align-middle" data-feather="activity"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="display-5 mt-1 mb-3">500</h1>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-12 col-lg-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <a href="#" class="mr-1">
                            <i class="align-middle" data-feather="refresh-cw"></i>
                        </a>
                        <div class="d-inline-block dropdown show">
                            <div class="col-12 text-right">
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Requests</h5>
                </div>
                <table id="datatables-dashboard-products" class="table table-striped my-0">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Barcode</td>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Request By</th>
                            <th class="d-none d-xl-table-cell">States</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href='#' class='btn-edit fas fa-edit' data-toggle="modal" data-target="#data_Model" data-toggle='tooltip' title='Update'></a></td>
                            <td>HCAM128134223</td>
                            <td>Laptop</td>
                            <td class="d-none d-xl-table-cell">Humais</td>
                            <td><span class="badge badge-success">Assigned</span></td>
                        </tr>
                        <tr>
                            <td><a href='#' class='btn-edit fas fa-edit' data-toggle="modal" data-target="#data_Model" data-toggle='tooltip' title='Update'></a></td>
                            <td>HCAM128102372</td>
                            <td>Mouce</td>
                            <td class="d-none d-xl-table-cell">Sumair</td>
                            <td><span class="badge badge-warning">UnAssigned</span></td>
                        </tr>
                        <tr>
                            <td><a href='#' class='btn-edit fas fa-edit' data-toggle="modal" data-target="#data_Model" data-toggle='tooltip' title='Update'></a></td>
                            <td>HCAM213322221</td>
                            <td>Keyboard</td>
                            <td class="d-none d-xl-table-cell">Subhan</td>
                            <td><span class="badge badge-warning">UnAssigned</span></td>
                        </tr>
                        <tr>
                            <td><a href='#' class='btn-edit fas fa-edit' data-toggle="modal" data-target="#data_Model" data-toggle='tooltip' title='Update'></a></td>
                            <td>HCAM213322221</td>
                            <td>LCD</td>
                            <td class="d-none d-xl-table-cell">Shams</td>
                            <td><span class="badge badge-warning">UnAssigned</span></td>
                        </tr>
                        <tr>
                            
                            <td><a href='#' class='btn-edit fas fa-edit' data-toggle="modal" data-target="#data_Model" data-toggle='tooltip' title='Update'></a></td>
                            <td>ADSM213322221</td>
                            <td>Headphones</td>
                            <td class="d-none d-xl-table-cell">Shams</td>
                            <td><span class="badge badge-warning">UnAssigned</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-12 col-lg-4 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <a href="#" class="mr-1">
                            <i class="align-middle" data-feather="refresh-cw"></i>
                        </a>
                        <div class="d-inline-block dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-vertical"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Requestes</h5>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart chart-lg">
                        <canvas id="chartjs-dashboard-bar-alt"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl-8 d-flex">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <a href="#" class="mr-1">
                            <i class="align-middle" data-feather="refresh-cw"></i>
                        </a>
                        <div class="d-inline-block dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-vertical"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Requestes</h5>
                </div>
                <div class="card-body py-3">
                    <div class="chart chart-md">
                        <canvas id="chartjs-dashboard-line"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="data_Model" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Assigned</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form id="create_form">
                    <div class="row m-2">
                        <div class="col-lg-12" style="text-align:right;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input id="btn_sav" type="button" value="Assigned"
                            class="btn btn-success" />
                        </div>
                    </div>
                    <br>
                    <fieldset id="SubmitForm">
                        <div class="row form-group m-2">
                            <div class="col-lg-4 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_code" readonly type="text">
                                <label class="did-floating-label" >Barcode</label>
                            </div>
                            <div class="col-lg-8 did-floating-label-content">
                                <select class="did-floating-select" id="txt_vendortype" >
                                    <option value="">Sultan</option>
                                    <option value="h1">Ahmed</option>
                                    <option value="h2">Shabbir</option>
                                </select>
                                <label class="did-floating-label">Crew</label>
                            </div>
                            <div class="col-lg-6 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_code" readonly type="date">
                                <label class="did-floating-label" >From</label>
                            </div>
                            <div class="col-lg-6 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_code" readonly type="date">
                                <label class="did-floating-label" >To</label>
                            </div>
                            <div class="col-lg-6 did-floating-label-content" >
                                <input class="did-floating-input" id="txt_code" readonly type="text">
                                <label class="did-floating-label" >Description</label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
  <script src="@Url.Content("~/AppJS/Dashboards/E-Commerce.js")"></script>
}
